.container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.secondaryContainer{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.img{
    text-align: center;
    height: 95%;
    width: 95%;
}